.counter-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .count {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background: darkgreen;
  }
  